Options -MultiViews
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

<IfModule mod_speling.c>
CheckSpelling on
CheckCaseOnly on
</IfModule>

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L,NC]
